<template>
  <span class="page">
    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed" />
  </span>
</template>

<script>
require('../plugins/twitch_embed_v1')

// lol_username: 'DaRkHaWk72'
export default {
  name: 'Stream',
  mounted: function () {
    this.$nextTick(function () {
      new Twitch.Embed('twitch-embed', {
        width: '100%',
        height: 500,
        channel: this.$route.params.id
      })
    })
  }
}

</script>
