<template>
  <span class="page">
    <StartPageImageSlider />
    <FeaturedGames />
    <NewGames />
    <Streams />
    <FullScreenImage img="imgs/fullscreen_stadion.png" />
  </span>
</template>

<script>
import StartPageImageSlider from '../components/StartPageImageSlider'
import FeaturedGames from '../components/FeaturedGames'
import NewGames from '../components/NewGames'
import FullScreenImage from '../components/FullScreenImage'
import Streams from '../components/Streams'
import Footer from '../components/Footer'

export default {
  components: { StartPageImageSlider, FeaturedGames, NewGames, FullScreenImage, Streams, Footer },
  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
