<template>
  <div class="featuredGames">
    <div class="row col-sm-12">
      <h1>{{ $t('featured_games') }}</h1>
    </div>
    <swiper :options="swiperOption">
      <swiper-slide v-for="game in games" :key="game.name" style="width: auto !important"><GameCard :name="game.name" :img="game.img" /></swiper-slide>
    </swiper>
  </div>
</template>

<script>
import GameCard from '../components/GameCard'
import ViewAllButton from '../components/ViewAllButton'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'FeaturedGames',
  components: { GameCard, ViewAllButton, swiper, swiperSlide },
  data: function () {
    return {
      games: [
        {
          'name': 'League Of Legends',
          'img': '/imgs/games/lol.png'
        },
        {
          'name': 'Slatoon',
          'img': '/imgs/games/slatoon.png'
        },
        {
          'name': 'Dota 2',
          'img': '/imgs/games/dota2.png'
        },
        {
          'name': 'Starcraft',
          'img': '/imgs/games/starcraft.png'
        }
      ],
      swiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 30,
        loop: false
      }
    }
  }
}
</script>

<style scoped>
    h1{
      color: white;
    }

    .featuredGames {
        margin-top: 30px;
    }

  swiper-slide{
    width: auto !important;
  }
</style>
