<template>
  <footer class="page-footer">

    <div class="container-fluid text-center text-md-left">

      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <span class="logo-small">Connect with</span><br />
          <span class="logo-big">GGWP</span>
          <p>&copy; ggwp-esports.com</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3  ">

          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
          </ul>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3  ">

          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">Jobs</a>
            </li>
          </ul>

        </div>

      </div>

    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
  .page-footer{
    margin-top: 30px;
  }

  .row {
    color: white;
  }

  a {
    font-weight: 800;
    font-size:15px;
    color:#ffffff;
    letter-spacing:0.62px;
    line-height:25px;
    text-align:left;
    margin-bottom: 45px;
  }

  .logo-small {
    font-size: 30px;
    font-weight: 100;
  }

  .logo-big {
    font-size:45px;
    font-weight: 700;
  }
  li{
    margin-bottom: 15px;
  }
</style>
