<template>
  <img :src="img" />
</template>

<script>
export default {
  name: 'FullScreenImage',
  props: {
    img: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
    /*.thumbnail{*/
        /*width: 100vw;*/
        /*position: relative;*/
        /*left: 50%;*/
        /*right: 50%;*/
        /*margin-left: -50vw;*/
        /*margin-right: -50vw;*/
        /*margin-top: -25px;*/
        /*z-index: -5;*/

        /*height: 400px;*/
    /*}*/

    img{
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top: 50px;
    }
</style>
