<template>
  <div class="gamecard " >
    <img :src="img" style="width: 199px; height: auto;">
  </div>
</template>

<script>
export default {
  name: 'GameCard',
  props: {
    name: {
      type: String,
      required: true
    },
    img: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
  .gamecard{
    margin-bottom: 20px;
  }
</style>
