<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <router-link :to="{ name: user ? 'welcome' : 'welcome' }" class="navbar-brand">
        <img id="logo" src="/imgs/logo_white.png">
      </router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon" />
      </button>

      <div id="navbarToggler" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <locale-dropdown />
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link :to="{ name: 'news' }" class="nav-link">
              {{ $t('news') }}
            </router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'register' }" class="nav-link">
              {{ $t('games') }}
            </router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'register' }" class="nav-link">
              {{ $t('teams') }}
            </router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'register' }" class="nav-link">
              {{ $t('shows') }}
            </router-link>
          </li>
          <!-- Authenticated -->
          <li v-if="user" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle "
               href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="user.photo_url" class="rounded-circle profile-photo mr-1">
              {{ user.name }}
            </a>
            <div class="dropdown-menu text-dark">
              <router-link :to="{ name: 'news.post' }" class="dropdown-item pl-3">
                <fa icon="cog" fixed-width />
                {{ $t('write_news') }}
              </router-link>

              <router-link v-if="user.roles.includes('admin')" :to="{ name: 'news.review' }" class="dropdown-item pl-3">
                <fa icon="cog" fixed-width />
                {{ $t('news_review') }}
              </router-link>

              <div class="dropdown-divider" />
              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width />
                {{ $t('logout') }}
              </a>
            </div>
          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                {{ $t('login') }}
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
  nav{
    background-color: black;
  }

  a, div{
    color: white !important;
    font-size: 18px;
  }

  #logo{
    width: 100px;
  }

  .profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
  }

  *{
    background-color: black;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: white !important;
    text-decoration: none;
    background-color: #000000 !important;
  }

  #login-btn{
    background-image:linear-gradient(-90deg, #b7012c 0%, #c40123 49%, #d0021b 100%);
    border-radius:5px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    margin-left: 10px;
    padding: .5rem 1rem;
  }


</style>
