<template>
  <div class="featuredGames">
    <div class="row col-sm-12">
      <h1>{{ $t('new_games') }}</h1>
    </div>
    <swiper :options="swiperOption">
      <swiper-slide v-for="game in games" :key="game.name" style="width: auto !important">
        <GameCard :name="game.name" :img="game.img" />
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import GameCard from '../components/GameCard'
import ViewAllButton from '../components/ViewAllButton'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'FeaturedGames',
  components: { GameCard, ViewAllButton, swiper, swiperSlide },
  data: function () {
    return {
      games: [
        {
          'name': 'Smash Bros.',
          'img': '/imgs/games/smashbros.png'
        },
        {
          'name': 'Fortnite',
          'img': '/imgs/games/fortnite.png'
        },
        {
          'name': 'Battlegrounds',
          'img': '/imgs/games/battlegrounds.png'
        }
      ],
      swiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 30,
        loop: false
      }
    }
  }
}
</script>

<style scoped>
  h1{
    color:white;
  }

  .newGames {
      margin-top: 30px;
  }
</style>
