<template>
  <swiper :options="swiperOption">
    <!-- slides -->
    <swiper-slide><img src="/imgs/startpage_slider/1.jpg"></swiper-slide>
    <swiper-slide><img src="/imgs/startpage_slider/2.jpg"></swiper-slide>
    <div slot="pagination" class="swiper-pagination swiper-pagination-white" />
    <div slot="button-prev" class="swiper-button-prev wiggle-element animated infinite tada" />
    <div slot="button-next" class="swiper-button-next swiper-button-white wiggle-element animated infinite tada" />
  </swiper>

</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'StartPageImageSlider',
  components: {
    swiper,
    swiperSlide
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  }
}
</script>

<style scoped>
  .swiper-button-prev{
    background-image: url('/imgs/arrow_left.png');
  }

  .swiper-button-next{
    background-image: url('/imgs/arrow_right.png');
  }
</style>
