<template>
  <div class="streamcard image-container" @click="openStream()">
    <div class="showOnMobile">
      {{stream.name}}
    </div>
    <img :src="stream.thumb"><br>
    <span class="stream-title">
      <div class="after">
        <span class="helper" /><img class="img fa-pull-left" :src="stream.gameimg"><span class="pull-right">
          {{ stream.name }}
        </span>
      </div>
    </span>
  </div>
</template>

<script>
export default {
  name: 'StreamCard',
  props: {
    stream: {
      type: Object,
      required: true
    }
  },
  methods: {
    openStream: function () {
      this.$modal.show('hello-world')
      var self = this
      setTimeout(function () {
        self.$nextTick(function () {
          new Twitch.Embed('twitch-embed', {
            width: '100%',
            height: 500,
            channel: self.stream.login_name,
            theme: 'dark'
          })
        })
      }, 1000)
    }
  }
}
</script>

<style scoped>
  *{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 25px;
  }
  .img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: left;
    margin: 15px;
  }

  .pull-right{
    float: right;
    margin: 15px;
  }

  .showOnMobile{
    display: none;

  }

  @media (max-width: 450px) {
    .pull-right{
      display: none;
    }

    .showOnMobile{
      display: block !important;
    }
  }

  .image-container {
    position: relative;
  }

  .image-container .after {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 50%;
    color: #FFF;
    display: block;
    background: rgba(0, 0, 0, .6);
    text-align: center; margin: 1em 0;
  }

  .streamcard{
      margin-bottom: 20px;
  }
</style>
