<template>
  <div class="streams">
    <div class="row col-sm-12">
      <h1>{{ $t('latest_streams') }}</h1>
    </div>
    <div class="filter">
      <span v-for="game in games" class="game-filter">
        <button :id="game.id" type="button" class="game-filter-btn" @click="filterStream(game)">
          {{ game.name }}
        </button>
      </span>
    </div>
    <br>
    <bar-loader class="custom-class" color="#fff" :loading="loading" size="80%" size-unit="%" width="80%" />
    <swiper :options="swiperOption" ref="streamSwiper">
      <swiper-slide v-for="stream in streamsFiltered" style="width: auto !important">
        <StreamCard :key="stream.name" :stream="stream"/>
      </swiper-slide>
      <div slot="button-prev" class="swiper-button-prev swiper-button-white wiggle-element animated infinite tada" />
      <div slot="button-next" class="swiper-button-next swiper-button-white wiggle-element animated infinite tada" />
    </swiper>
    <modal name="hello-world" :adaptive="true" height="500px" width="80%">
      <div id="twitch-embed" />
    </modal>
    <ViewAllButton />
  </div>
</template>

<script>
import StreamCard from '../components/StreamCard'
import ViewAllButton from '../components/ViewAllButton'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
import Vue from 'vue'
import { BarLoader } from '@saeris/vue-spinners'

require('../plugins/twitch_embed_v1')

export default {
  name: 'Streams',
  components: { StreamCard, ViewAllButton, swiper, swiperSlide, BarLoader },
  data: function () {
    return {
      showGameIds: [],
      streams: [],
      games: null,
      loading: true,
      swiper: null,
      swiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 30,
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  computed: {
    streamsFiltered: function () {
      if (this.showGameIds.length === 0) return this.streams

      return this.streams.filter((stream) => {
        return this.showGameIds.indexOf(stream.gameid) !== -1
      })
    }
  },
  mounted: function () {
    var self = this

    Vue.axios
      .get('/api/getstreams')
      .then(function (response) {
        self.streams = []
        self.games = []
        for (var i = 0; i < response.data.length; i++) {
          var stream = JSON.parse(response.data[i])[0]
          self.streams.push(stream)

          var game = []
          game.name = stream.gamename
          game.id = stream.gameid

          if (self.games.filter(e => e.name === stream.gamename).length === 0) self.games.push(game)
        }
        self.loading = false

        setTimeout(function(){ self.$refs.streamSwiper.swiper.update() }, 3000)
      })
  },
  methods: {
    filterStream: function (game) {
      if (this.showGameIds.indexOf(game.id) !== -1) { // unselect
        document.getElementById(game.id).style.backgroundColor = 'transparent'
        document.getElementById(game.id).style.border = '3px solid #333333'
        this.showGameIds.splice(this.showGameIds.indexOf(game.id), 1)
      } else {
        document.getElementById(game.id).style.backgroundColor = '#4a4a4a'
        document.getElementById(game.id).style.border = 'none'
        if (this.showGameIds.indexOf(game.gameid) === -1) { this.showGameIds.push(game.id) }
      }
      setTimeout(function(){ self.$refs.streamSwiper.swiper.update() }, 3000)
    }
  }
}
</script>

<style scoped>
  h1{
    color: white;
  }

  .streams{
    margin-top: 30px;
  }

  .v--modal-overlay {
      background-color: black;
  }

  .game-filter-btn{
    color: white;
    background-color: transparent;
    border:3px solid #333333;
    border-radius:5px;
    height:50px;
    margin-right: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  button:focus {
    outline:0 !important;
  }

  .swiper-button-prev{
    background-image: url('/imgs/arrow_left.png');
  }

  .swiper-button-next{
    background-image: url('/imgs/arrow_right.png');
  }
</style>
