<template>
  <span class="news">
    <bar-loader class="custom-class" color="#fff" :loading="loading" size="80%" size-unit="%" width="80%" />
    <Waterfall :gutterWidth="10" :gutterHeight="15" >
      <WaterfallItem v-for="post in posts" :width="300">
        <a class="ui card" :href="getUrlToNews(post)">
          <div class="image">
            <img :src="post.image_path" >
          </div>
          <div class="content">
            <div class="header">{{post.headline}}</div>
            <!--<div class="meta">-->
              <!--<a>{{post.url}}</a>-->
            <!--</div>-->
            <div class="description">
              {{post.subline}}
            </div>
          </div>
          <div class="extra content" v-if="post.tags.length > 0">
            <!--<span class="right floated">-->
            <!--Joined in 2013-->
            <!--</span>-->
            <div v-for="tag in post.tags" >
              <div class="ui label">
                {{tag.name}}
              </div>
            </div>
          </div>
        </a>
      </WaterfallItem>
    </Waterfall>
  </span>
</template>

<script>
import Vue from 'vue'
import { BarLoader } from '@saeris/vue-spinners'
import {Waterfall, WaterfallItem} from 'vue2-waterfall';

export default {
  data () {
    return {
      posts: [],
      loading: true
    }
  },
  components: { BarLoader, Waterfall, WaterfallItem },
  mounted: function () {
    this.getPosts()
  },
  methods: {
    getPosts () {
      var self = this

      Vue.axios
        .get('/api/news')
        .then(function (response) {
          self.loading = false
          self.posts = response.data
        })
    },
    getUrlToNews (post) {
      if (post.url)
        return post.url
      else
        return '/news/' + post.id
    }
  }
}

</script>

<style>
</style>
