<template>
  <div class="row">
    <div class="col-md-12">
      <form @submit.prevent="handleSubmit">
        <div class="form-group">
          <label for="headline">
            {{ $t("news_headline") }}
          </label>
          <input id="headline" v-model="news.headline" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="subline">
            {{ $t("news_subline") }}
          </label>
          <input id="subline" v-model="news.subline" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="img">
            {{ $t("news_image") }}
          </label>
          <input id="img" type="file" name="img" @change="onImageChange">
        </div>

        <div class="form-group">
          <div class="ui toggle checkbox" @click="changePostOwnNews()">
            <input type="checkbox" tabindex="0" class="hidden">
            <p>Post Own News</p>
          </div>
        </div>

        <div id="ownNewsContent" class="form-group">
          <label for="editor">
            {{ $t("news_content") }}
          </label>
          <textarea id="editor" name="content" />
        </div>

        <div id="urlContent" class="form-group">
          <label for="subline">
            URL:
          </label>
          <input id="url" v-model="news.url" type="text" class="form-control">
        </div>

        <div class="ui form">
          <div class="field">
            <label class="white">Main Tags</label>
            <select v-model="news.maintags" multiple="" class="ui dropdown">
              <option value="">
                Select main tags
              </option>
              <option v-for="tag in tags" :value="tag.id">
                {{tag.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="ui form">
          <div class="field">
            <label class="white">Secondary Tags</label>
            <select v-model="news.secTags" multiple="" class="ui dropdown">
              <option value="">
                Select secondary tags
              </option>
              <option v-for="tag in tags" :value="tag.id">
                {{tag.name}}
              </option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">
          {{ $t("save") }}
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  middleware: 'auth',
  data () {
    return {
      news: {
        headline: '',
        subline: '',
        content: '',
        image: '',
        url: '',
        maintags: [],
        secTags: []
      },
      editor: null,
      postOwnNews: false,
      tags: [],
      loading: true
    }
  },
  mounted: function () {
    this.getTags()
    $('.ui.checkbox').checkbox()
    $('select.dropdown').dropdown()

    $('#ownNewsContent').hide()

    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(myEditor => {
        this.editor = myEditor
      })
      .catch(error => {
        console.error(error)
      })
  },
  methods: {
    handleSubmit () {
      this.news.content = this.editor.getData()

      if (this.news.headline === '') {
        alert('Please enter some headline')
        return
      } else if (this.news.subline === '') {
        alert('Please enter some subline')
        return
      } else if (this.news.content === '<p>&nbsp;</p>') {
        alert('Please enter some content')
        return
      }

      var self = this

      Vue.axios
        .post('/api/postnews', self.news)
        .then(function (response) {
          self.news.headline = ''
          self.news.subline = ''
          self.editor.setData('')
          alert('Successfully sent. Thanks for your contribution!')
        })
    },
    onImageChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) { return }
      this.createImage(files[0])
    },
    createImage (file) {
      let reader = new FileReader()
      let self = this
      reader.onload = (e) => {
        self.news.image = e.target.result
      }
      reader.readAsDataURL(file)
    },
    changePostOwnNews () {
      this.postOwnNews = !this.postOwnNews
      if (!this.postOwnNews) {
        $('#ownNewsContent').hide()
        $('#urlContent').show()
      } else {
        $('#ownNewsContent').show()
        $('#urlContent').hide()
      }
    },
    getTags () {
      var self = this

      Vue.axios
        .get('/api/tags')
        .then(function (response) {
          self.loading = false
          self.tags = response.data
        })
    }
  }
}
</script>

<style scoped>
  .white{
    color: white !important;
  }

  .ck > p {
    color: black;
  }

  .form-group label, p{
    color: white  ;
  }

  .ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label{
    color: white !important;
  }
</style>
