<template>
  <div class="row">
    <div class="col-md-12">
      <bar-loader class="custom-class" color="#fff" :loading="loading" size="80%" size-unit="%" width="80%" />
      <div v-if="posts.length === 0">
        <h1>{{ $t('no_news_to_review') }}</h1>
      </div>
      <div v-for="post in posts">
        <button data-toggle="collapse" :data-target="'#detail-'+post.id">{{post.headline}}</button>
        <div :id="'detail-'+post.id" class="collapse">
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <img :src="'/imgs/news/uploads/'+post.image_path" />
              <h5 class="card-title">{{post.headline}}</h5>
              <hr />
              <p class="card-text"> {{post.subline}}
                <hr />
                <span v-html="post.content"></span></p>
              <span v-on:click="accept(post)" class="btn btn-primary">{{ $t("news_accept") }}</span>
              <span v-on:click="reject(post)" class="btn btn-primary">{{ $t("news_reject") }}</span>
            </div>
          </div>
           <br />
        </div>



        <hr />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { BarLoader } from '@saeris/vue-spinners'

export default {
  middleware: 'auth',
  components: { BarLoader },
  data () {
    return {
      posts: [],
      loading: true
    }
  },
  mounted: function () {
    this.getPosts()
  },
  methods: {
    getPosts () {
      var self = this

      Vue.axios
        .get('/api/news/review', self.news)
        .then(function (response) {
          self.loading = false
          self.posts = response.data
        })
    },
    accept (post) {
      Vue.axios
        .get('/api/news/review/accept/' + post.id)
        .then(function (response) {
          location.reload()
        })
    },
    reject (post) {
      Vue.axios
        .get('/api/news/review/reject/' + post.id)
        .then(function (response) {
          location.reload()
        })
    }
  }
}
</script>

<style scoped>
  .card-body{
    color: black;
  }

    button {
      min-width: 100px;
    }

    li, div {
      color: white;
    }

    .ck > p {
        color: black;
    }

    .form-group label{
        color: white;
    }

  img{
    width: 100%;
  }
</style>
