<template>
  <span class="news">
    <bar-loader class="custom-class" color="#fff" :loading="loading" size="80%" size-unit="%" width="80%" />
   <div id="box-search">
      <div class="thumbnail">
          <img :src="post.image_path" alt="">
          <div class="caption">
              <p>contacto@windberg.cl</p>
              <p>+56983874071   |   +56228231294</p>
              <p>El Aguilucho 3174, Providencia, Región Metropolitana</p>
          </div>
      </div>
  </div>
  </span>
</template>

<script>
import Vue from 'vue'
import { BarLoader } from '@saeris/vue-spinners'

export default {
  components: { BarLoader },
  props: ['id'],
  data () {
    return {
      post: {},
      loading: true
    }
  },
  mounted: function () {
    this.getPosts()
  },
  methods: {
    getPosts () {
      var self = this

      Vue.axios
        .get('/api/news/show/' + self.id)
        .then(function (response) {
          self.loading = false
          self.post = response.data
        })
    }
  }
}

</script>

<style scoped>
    * {
        color: white;
    }
    img {
        /*display: block;*/
        width: 100%;
    }

    .thumbnail {
        position: relative;
        display: inline-block;
    }

    .caption {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        color: white;
        font-weight: bold;
    }
</style>
