<template>
  <div class="main-layout">
    <navbar />

    <div class="container mt-4">
      <child />
    </div>
    <div class="container mt-4">
      <Footer />
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import Footer from '../components/Footer'

export default {
  name: 'MainLayout',

  components: {
    Footer,
    Navbar
  }
}
</script>
